<?xml version="1.0"?>
<config>
    <modules>
        <Mivec_Promotion>
            <version>0.1</version>
        </Mivec_Promotion>
    </modules>
    <frontend>
        <routers>
            <promotion>
                <use>standard</use>
                <args>
                    <module>Mivec_Promotion</module>
                    <frontName>promotion</frontName>
                </args>
            </promotion>
        </routers>
        <layout>
            <updates>
                <promotion>
                    <file>mivec/promotion.xml</file>
                </promotion>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <promotion>
                <use>admin</use>
                <args>
                    <module>Mivec_Promotion</module>
                    <frontName>promotion</frontName>
                </args>
            </promotion>
        </routers>
    </admin>
    <global>
        <models>
            <promotion>
                <class>Mivec_Promotion_Model</class>
                <resourceModel>promotion_mysql4</resourceModel>
            </promotion>
            <promotion_mysql4>
                <class>Mivec_Promotion_Model_Mysql4</class>
                <entities>
                    <widget>
                        <table>mivec_promotion_widget</table>
                    </widget>
                </entities>
            </promotion_mysql4>
        </models>
        <resources>
            <promotion_setup>
                <setup>
                    <module>Mivec_Promotion</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotion_setup>
            <promotion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotion_write>
            <promotion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotion_read>
        </resources>

        <blocks>
            <promotion>
                <class>Mivec_Promotion_Block</class>
            </promotion>
        </blocks>
        <helpers>
            <promotion>
                <class>Mivec_Promotion_Helper</class>
            </promotion>
        </helpers>
    </global>
</config>